body {
    font-family: 'lato';
    background-color: rgb(209, 203, 203);
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: green;
}

.boxes {
    display: block;
    border: 1em solid red;
    width: 200px;
    height: 200px;
    margin: 3em;
    padding: 3em;
    border-radius: 2em;
}

#box1 {
    background-color: orange;
}

#box2 {
    background-color: purple;
}

#box3 {
    background-color: yellow;
}

#box4 {
    background-color: rgb(109, 83, 83);
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: black;
    position: relative;
    top: 60px;
}

h1 {
    color: blue;
}

.original {
    color: green;
}

.additional {
    color: purple;
}

#show1 {
    color: black;
}

#show2 {
    color: red;
}

#show3 {
    color: yellow;
}

#show4 {
    color: rgb(45, 100, 45);
}

#show5 {
    color: rgb(110, 88, 46);
}

ul {
    color: green;
}

#wars {
    color: black;
}

.outline {
    border: 2px solid black; 
}


